<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Network Interfaces</title>
    <link rel="stylesheet" href="/static/css/all.min.css" />
    <link rel="stylesheet" href="/static/css/goscan.css" />
    <script src="/static/js/goscan.js"></script>
  </head>
  <body>
    <div class="header">goscan network enumeration utility</div>
    <div class="loading"><i class="fas fa-spinner fa-spin"></i> Loading...</div>
    <div class="container"></div>
    <div class="error-banner">An error has occurred.</div>
    <div class="footer"></div>
  </body>
</html>

